**/env
octave-workspace
*~
.DS_Store
*.swp
*.swo
*.pyc
*.prof*
oga/static/bower_components





oga_web/logs/*
oga_web/!.gitkeep
oga_web/node_modules
oga_web/app/bower_components
oga_web/tmp
oga_web/.DS_Store
oga_web/.idea
